In [1]:
import pandas as pd

In [2]:
backorder_data=pd.read_csv(r"C:\Users\HP\Downloads\BackOrders.csv")

In [3]:
backorder_data.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1888279,117,NaN,0,0,0,0,0,0,15,...,0,-99.00,-99.00,0,No,No,Yes,Yes,No,No
1,1870557,7,2.0,0,0,0,0,0,0,0,...,0,0.50,0.28,0,Yes,No,No,Yes,No,No
2,1475481,258,15.0,10,10,77,184,46,132,256,...,0,0.54,0.70,0,No,No,No,Yes,No,No
3,1758220,46,2.0,0,0,0,0,1,2,6,...,0,0.75,0.90,0,Yes,No,No,Yes,No,No
4,1360312,2,2.0,0,4,6,10,2,2,5,...,0,0.97,0.92,0,No,No,No,Yes,No,No

In [4]:
backorder_data_col=backorder_data.columns.tolist()

In [5]:
backorder_data_col

['sku',
 'national_inv',
 'lead_time',
 'in_transit_qty',
 'forecast_3_month',
 'forecast_6_month',
 'forecast_9_month',
 'sales_1_month',
 'sales_3_month',
 'sales_6_month',
 'sales_9_month',
 'min_bank',
 'potential_issue',
 'pieces_past_due',
 'perf_6_month_avg',
 'perf_12_month_avg',
 'local_bo_qty',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop',
 'went_on_backorder']

In [6]:
type(backorder_data)

pandas.core.frame.DataFrame

In [7]:
target_variable=backorder_data['went_on_backorder']
unique_id=backorder_data['sku']

In [8]:
target_variable

0         No
1         No
2         No
3         No
4         No
        ...
61584     No
61585     No
61586     No
61587    Yes
61588    Yes
Name: went_on_backorder, Length: 61589, dtype: object

In [9]:
type(target_variable)

pandas.core.series.Series

In [10]:
unique_id

0        1888279
1        1870557
2        1475481
3        1758220
4        1360312
          ...
61584    1397275
61585    3072139
61586    1909363
61587    1845783
61588    1200539
Name: sku, Length: 61589, dtype: int64

In [11]:
backorder_data=backorder_data.drop('sku',axis=1)

In [12]:
backorder_data

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,117,NaN,0,0,0,0,0,0,15,15,...,0,-99.00,-99.00,0,No,No,Yes,Yes,No,No
1,7,2.0,0,0,0,0,0,0,0,0,...,0,0.50,0.28,0,Yes,No,No,Yes,No,No
2,258,15.0,10,10,77,184,46,132,256,365,...,0,0.54,0.70,0,No,No,No,Yes,No,No
3,46,2.0,0,0,0,0,1,2,6,9,...,0,0.75,0.90,0,Yes,No,No,Yes,No,No
4,2,2.0,0,4,6,10,2,2,5,6,...,0,0.97,0.92,0,No,No,No,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61584,6,8.0,0,24,24,24,0,7,9,12,...,0,0.98,0.98,0,No,No,No,Yes,No,No
61585,130,2.0,0,40,80,140,18,108,230,317,...,0,0.51,0.28,0,No,No,No,Yes,No,No
61586,135,9.0,0,0,0,0,10,40,65,89,...,0,1.00,0.99,0,No,No,Yes,Yes,No,No
61587,63,NaN,0,0,0,0,452,1715,3425,4864,...,0,-99.00,-99.00,1,No,No,No,No,No,Yes
61588,0,2.0,0,8,8,8,0,1,1,1,...,0,0.79,0.78,0,Yes,No,No,Yes,No,Yes

In [13]:
backorder_data=backorder_data.drop('went_on_backorder',axis=1)

In [14]:
backorder_data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,117,NaN,0,0,0,0,0,0,15,15,...,No,0,-99.00,-99.00,0,No,No,Yes,Yes,No
1,7,2.0,0,0,0,0,0,0,0,0,...,No,0,0.50,0.28,0,Yes,No,No,Yes,No
2,258,15.0,10,10,77,184,46,132,256,365,...,No,0,0.54,0.70,0,No,No,No,Yes,No
3,46,2.0,0,0,0,0,1,2,6,9,...,No,0,0.75,0.90,0,Yes,No,No,Yes,No
4,2,2.0,0,4,6,10,2,2,5,6,...,No,0,0.97,0.92,0,No,No,No,Yes,No

In [15]:
backorder_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61589 entries, 0 to 61588
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   national_inv       61589 non-null  int64
 1   lead_time          58186 non-null  float64
 2   in_transit_qty     61589 non-null  int64
 3   forecast_3_month   61589 non-null  int64
 4   forecast_6_month   61589 non-null  int64
 5   forecast_9_month   61589 non-null  int64
 6   sales_1_month      61589 non-null  int64
 7   sales_3_month      61589 non-null  int64
 8   sales_6_month      61589 non-null  int64
 9   sales_9_month      61589 non-null  int64
 10  min_bank           61589 non-null  int64
 11  potential_issue    61589 non-null  object
 12  pieces_past_due    61589 non-null  int64
 13  perf_6_month_avg   61589 non-null  float64
 14  perf_12_month_avg  61589 non-null  float64
 15  local_bo_qty       61589 non-null  int64
 16  deck_risk          61589 non-null  object
 17  oe_constraint      61589 non-null  object
 18  ppap_risk          61589 non-null  object
 19  stop_auto_buy      61589 non-null  object
 20  rev_stop           61589 non-null  object
dtypes: float64(3), int64(12), object(6)
memory usage: 9.9+ MB

In [16]:
backorder_data_num=backorder_data.select_dtypes(include=['float64','int64'])
backorder_data_num_col=backorder_data_num.columns.tolist()

In [17]:
backorder_data_num_col

['national_inv',
 'lead_time',
 'in_transit_qty',
 'forecast_3_month',
 'forecast_6_month',
 'forecast_9_month',
 'sales_1_month',
 'sales_3_month',
 'sales_6_month',
 'sales_9_month',
 'min_bank',
 'pieces_past_due',
 'perf_6_month_avg',
 'perf_12_month_avg',
 'local_bo_qty']

In [18]:
backorder_data_cat=backorder_data.select_dtypes(include=['object'])

backorder_data_cat_col=backorder_data_cat.columns.tolist()

In [19]:
backorder_data_cat_col

['potential_issue',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop']

In [20]:
backorder_data.isnull().any()

national_inv         False
lead_time             True
in_transit_qty       False
forecast_3_month     False
forecast_6_month     False
forecast_9_month     False
sales_1_month        False
sales_3_month        False
sales_6_month        False
sales_9_month        False
min_bank             False
potential_issue      False
pieces_past_due      False
perf_6_month_avg     False
perf_12_month_avg    False
local_bo_qty         False
deck_risk            False
oe_constraint        False
ppap_risk            False
stop_auto_buy        False
rev_stop             False
dtype: bool

In [21]:
backorder_data.isnull().sum()

national_inv            0
lead_time            3403
in_transit_qty          0
forecast_3_month        0
forecast_6_month        0
forecast_9_month        0
sales_1_month           0
sales_3_month           0
sales_6_month           0
sales_9_month           0
min_bank                0
potential_issue         0
pieces_past_due         0
perf_6_month_avg        0
perf_12_month_avg       0
local_bo_qty            0
deck_risk               0
oe_constraint           0
ppap_risk               0
stop_auto_buy           0
rev_stop                0
dtype: int64

In [22]:
def show_missing(data):
    missing=data.columns[data.isnull().any()].tolist()
    return missing

missing_col_num=show_missing(backorder_data_num)

#count of missing records
missing_count_num=backorder_data_num[missing_col_num].isnull().sum()

In [23]:
missing_col_num
missing_count_num

lead_time    3403
dtype: int64

In [24]:
backorder_data_num['lead_time'].median()

8.0

In [25]:
backorder_data_num['lead_time'].mean()

7.559619152373423

In [26]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean') 

backorder_data_num_after_impute=imputer.fit_transform(backorder_data_num)

backorder_data_num_after_impute_df=pd.DataFrame(backorder_data_num_after_impute,columns=backorder_data_num_col)

In [27]:
backorder_data_num_after_impute

array([[117.        ,   7.55961915,   0.        , ..., -99.        ,
        -99.        ,   0.        ],
       [  7.        ,   2.        ,   0.        , ...,   0.5       ,
          0.28      ,   0.        ],
       [258.        ,  15.        ,  10.        , ...,   0.54      ,
          0.7       ,   0.        ],
       ...,
       [135.        ,   9.        ,   0.        , ...,   1.        ,
          0.99      ,   0.        ],
       [ 63.        ,   7.55961915,   0.        , ..., -99.        ,
        -99.        ,   1.        ],
       [  0.        ,   2.        ,   0.        , ...,   0.79      ,
          0.78      ,   0.        ]])

In [28]:
backorder_data_num_after_impute_df

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,117.0,7.559619,0.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,1.0,0.0,-99.00,-99.00,0.0
1,7.0,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.50,0.28,0.0
2,258.0,15.000000,10.0,10.0,77.0,184.0,46.0,132.0,256.0,365.0,47.0,0.0,0.54,0.70,0.0
3,46.0,2.000000,0.0,0.0,0.0,0.0,1.0,2.0,6.0,9.0,1.0,0.0,0.75,0.90,0.0
4,2.0,2.000000,0.0,4.0,6.0,10.0,2.0,2.0,5.0,6.0,0.0,0.0,0.97,0.92,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61584,6.0,8.000000,0.0,24.0,24.0,24.0,0.0,7.0,9.0,12.0,1.0,0.0,0.98,0.98,0.0
61585,130.0,2.000000,0.0,40.0,80.0,140.0,18.0,108.0,230.0,317.0,34.0,0.0,0.51,0.28,0.0
61586,135.0,9.000000,0.0,0.0,0.0,0.0,10.0,40.0,65.0,89.0,2.0,0.0,1.00,0.99,0.0
61587,63.0,7.559619,0.0,0.0,0.0,0.0,452.0,1715.0,3425.0,4864.0,542.0,0.0,-99.00,-99.00,1.0
61588,0.0,2.000000,0.0,8.0,8.0,8.0,0.0,1.0,1.0,1.0,0.0,0.0,0.79,0.78,0.0

In [29]:
#before imputation
missing_col_num_bf=show_missing(backorder_data_num)

In [30]:
missing_col_num_bf

['lead_time']

In [31]:
#after imputation
missing_col_num=show_missing(backorder_data_num_after_impute_df)

In [32]:
missing_col_num

[]

In [33]:
backorder_data_cat.head()

  potential_issue deck_risk oe_constraint ppap_risk stop_auto_buy rev_stop
0              No        No            No       Yes           Yes       No
1              No       Yes            No        No           Yes       No
2              No        No            No        No           Yes       No
3              No       Yes            No        No           Yes       No
4              No        No            No        No           Yes       No

In [34]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()

backorder_data_cat['potential_issue_Cat'] = encoder.fit_transform(backorder_data_cat['potential_issue'])
backorder_data_cat['deck_risk_Cat'] = encoder.fit_transform(backorder_data_cat['deck_risk'])
backorder_data_cat['oe_constraint_Cat'] = encoder.fit_transform(backorder_data_cat['oe_constraint'])
backorder_data_cat['ppap_risk_Cat'] = encoder.fit_transform(backorder_data_cat['ppap_risk'])
backorder_data_cat['stop_auto_buy_Cat'] = encoder.fit_transform(backorder_data_cat['stop_auto_buy'])
backorder_data_cat['rev_stop_Cat'] = encoder.fit_transform(backorder_data_cat['rev_stop'])

In [35]:
backorder_data_cat.head()

,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
0,No,No,No,Yes,Yes,No,0,0,0,1,1,0
1,No,Yes,No,No,Yes,No,0,1,0,0,1,0
2,No,No,No,No,Yes,No,0,0,0,0,1,0
3,No,Yes,No,No,Yes,No,0,1,0,0,1,0
4,No,No,No,No,Yes,No,0,0,0,0,1,0

In [36]:
backorder_data_cat=backorder_data_cat.drop(['potential_issue','deck_risk','oe_constraint','ppap_risk','stop_auto_buy','rev_stop'],axis=1)

In [37]:
backorder_data_cat.head()

,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
0,0,0,0,1,1,0
1,0,1,0,0,1,0
2,0,0,0,0,1,0
3,0,1,0,0,1,0
4,0,0,0,0,1,0

In [38]:
total_data=pd.concat([backorder_data_num_after_impute_df,backorder_data_cat],axis=1)

In [39]:
total_data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
0,117.0,7.559619,0.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,...,0.0,-99.00,-99.00,0.0,0,0,0,1,1,0
1,7.0,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.50,0.28,0.0,0,1,0,0,1,0
2,258.0,15.000000,10.0,10.0,77.0,184.0,46.0,132.0,256.0,365.0,...,0.0,0.54,0.70,0.0,0,0,0,0,1,0
3,46.0,2.000000,0.0,0.0,0.0,0.0,1.0,2.0,6.0,9.0,...,0.0,0.75,0.90,0.0,0,1,0,0,1,0
4,2.0,2.000000,0.0,4.0,6.0,10.0,2.0,2.0,5.0,6.0,...,0.0,0.97,0.92,0.0,0,0,0,0,1,0

In [40]:
target_variable_df=pd.DataFrame(target_variable)

In [41]:
target_variable_df

      went_on_backorder
0                    No
1                    No
2                    No
3                    No
4                    No
...                 ...
61584                No
61585                No
61586                No
61587               Yes
61588               Yes

[61589 rows x 1 columns]

In [42]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
target_variable_df['went_on_backorder'] = encoder.fit_transform(target_variable_df['went_on_backorder'])

In [43]:
target_variable=target_variable_df.squeeze()

In [44]:
target_variable

0        0
1        0
2        0
3        0
4        0
        ..
61584    0
61585    0
61586    0
61587    1
61588    1
Name: went_on_backorder, Length: 61589, dtype: int32

In [45]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(total_data, target_variable, test_size=0.25, random_state=42)

In [46]:
x_train.head(5)

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
45537,8.0,8.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,10.0,...,0.0,0.78,0.83,0.0,0,1,0,0,1,0
34224,18.0,3.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,...,0.0,0.98,0.98,0.0,0,0,0,0,1,0
46945,12.0,8.0,8.0,5.0,15.0,25.0,7.0,22.0,36.0,55.0,...,0.0,0.85,0.80,0.0,0,0,0,0,1,0
5994,7.0,12.0,0.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.48,0.48,0.0,0,1,0,0,1,0
18143,9.0,2.0,0.0,35.0,63.0,77.0,10.0,26.0,36.0,86.0,...,0.0,0.97,0.93,0.0,0,0,0,0,1,0

In [47]:
x_test.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
4878,14.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,4.0,8.0,...,0.0,0.00,0.00,0.0,0,0,0,1,0,0
58285,2.0,7.559619,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,...,0.0,-99.00,-99.00,0.0,0,1,0,0,1,0
20109,81.0,2.000000,0.0,0.0,29.0,58.0,14.0,30.0,63.0,111.0,...,0.0,0.96,0.96,0.0,0,0,0,0,1,0
11670,-10.0,8.000000,0.0,27.0,36.0,45.0,5.0,11.0,23.0,32.0,...,0.0,0.77,0.76,10.0,0,0,0,0,1,0
54242,18.0,2.000000,0.0,0.0,0.0,0.0,1.0,4.0,6.0,6.0,...,0.0,0.99,0.99,0.0,0,1,0,0,1,0

In [48]:
y_train

45537    0
34224    0
46945    0
5994     0
18143    1
        ..
54343    1
38158    0
860      0
15795    1
56422    0
Name: went_on_backorder, Length: 46191, dtype: int32

In [49]:
y_test

4878     0
58285    0
20109    0
11670    1
54242    0
        ..
35269    0
39816    0
45622    0
61109    1
43337    0
Name: went_on_backorder, Length: 15398, dtype: int32

In [50]:
#balck box features selection
#recursive feature elimination technique
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier(random_state=42)

rfe_RF=RFE(RF,n_features_to_select=6,verbose=21)

rfe_RF.fit(x_train,y_train)
names=x_train.columns.tolist()
b=rfe_RF.ranking_

#RFE: Recursive Feature Elimination is corresponding to Machine Learning Model.
#ranking is a attribute

a=pd.DataFrame(sorted(list(map(lambda x,y: (x,y),b,names))),columns=['rank','features'])
a.to_csv('feature_selection.csv')
print(b)
print(a)

RFE_selected=a['features'][a['rank']==1]

Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
[ 1  8  6  1  1  1  5  3  4  1  7 10  2  1  9 14 11 16 12 13 15]
    rank             features
0      1     forecast_3_month
1      1     forecast_6_month
2      1     forecast_9_month
3      1         national_inv
4      1    perf_12_month_avg
5      1        sales_9_month
6      2     perf_6_month_avg
7      3        sales_3_month
8      4        sales_6_month
9      5        sales_1_month
10     6       in_transit_qty
11     7             min_bank
12     8            lead_time
13     9         local_bo_qty
14    10      pieces_past_due
15    11        deck_risk_Cat
16    12        ppap_risk_Cat
17    13    stop_auto_buy_Cat
18    14  potential_issue_Cat
19    15         rev_stop_Cat
20    16    oe_constraint_Cat

In [51]:
RFE_selected

0     forecast_3_month
1     forecast_6_month
2     forecast_9_month
3         national_inv
4    perf_12_month_avg
5        sales_9_month
Name: features, dtype: object

In [52]:
x_train=x_train[RFE_selected]

In [53]:
x_test=x_test[RFE_selected]

In [54]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier(max_depth=3, max_features=0.6, min_samples_leaf=4,n_estimators=9)
RF_model.fit(x_train,y_train)

RandomForestClassifier(max_depth=3, max_features=0.6, min_samples_leaf=4,
                       n_estimators=9)

In [55]:
pred=RF_model.predict(x_test)

In [56]:
pred

array([0, 0, 0, ..., 0, 0, 0])

In [57]:
out_data=pd.DataFrame({'true':y_test,'model_predicted':pred})

In [58]:
preds=RF_model.predict(x_test)

In [59]:
from sklearn.metrics import accuracy_score
accuracy_test=accuracy_score(y_test, preds)

In [60]:
accuracy_test

0.868164696713859

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid = {"n_estimators" : [90, 180, 270, 360, 450, 540, 630],
              "max_depth" : [2,3,5,7],
              "min_samples_leaf" : [2, 4],
              "max_features" : [0.4,0.5,0.6]
             }

#Use the GridSearchCV
RF_model=RandomForestClassifier() #estimator
clf = GridSearchCV(RF_model, param_grid, cv=3)
clf.fit(x_train,y_train)
clf.best_estimator_